$primary: #F4EEE0;
$dark: #393646;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');

$fw-black: 900;
$pt-to-px: 1.33px;
$h1-p-color: #04146c;
$h2-color: #0a2ff1;

* {
    font-family: 'Mulish', sans-serif;
}

h1{
    font-weight: $fw-black;
    font-size: 28.11 * $pt-to-px; 
    color: $h1-p-color;
}

h2{
    font-size: 16.17 * $pt-to-px;
    color: $h2-color;
}

p{
    font-size: 14.98 * $pt-to-px;
    color: $h1-p-color
}

img{
    width: 55px;
}